In [83]:
# Load the data

# Make a DataFrame, index: time in hour; column1: a list of all tweets; column2: price

# Create column3 that contains how many times the crypto is mentioned. 
# Refer to Week 12, Day 1, 08-Stu_Counter to convert a list of strs to a list of words, then count mentions from there.

# Re-order the columns, column1: a list of all tweets; column2: mentions; column3: price.

# Shift DataFrame values by 1.
# Refer to Week 15, Day 3, 02-Ins_Random_Forest_Training

# Construct the dependent variable where if daily return is greater than 0, then 1, else, 0.

# ...

In [84]:
import pandas as pd

In [85]:
tweet = pd.read_pickle('./retrieve/twitter/TWEETDUMP/twitter_elon_all_df')
tweet

,created_at,id,text,author_id
0,2021-02-23T08:20:41.000Z,1364128031434887170,@PeterSchiff üçÜ,44196397
1,2021-02-23T08:18:12.000Z,1364127406689193986,@PPathole Super cool,44196397
2,2021-02-22T23:25:09.000Z,1363993259756945410,@jgrano305 @AustinTeslaClub We have too much p...,44196397
3,2021-02-22T20:22:10.000Z,1363947211277496320,@TechAmazing @UniverCurious Tunnels!!,44196397
4,2021-02-22T20:21:15.000Z,1363946979005399040,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,44196397
...,...,...,...,...
2,2020-04-10T07:42:17.000Z,1248516638284095489,@nichegamer ü§£ü§£,44196397
3,2020-04-10T07:39:10.000Z,1248515852653211648,But actually https://t.co/jlowaHobXO,44196397
4,2020-04-10T00:23:11.000Z,1248406132957167621,@arvnp @Jamie_Woodward_ The Standard Model is ...,44196397
5,2020-04-10T00:04:04.000Z,1248401323587825667,@Jamie_Woodward_ ‚Ä¶ is bs,44196397
6,2020-04-09T22:58:40.000Z,1248384865872928772,@Jamie_Woodward_ String theory,44196397

In [86]:
price = pd.read_pickle('./retrieve/cryptocompare/CRYPTODUMP/hourlyhist_crypto_compare_api_v1_df')
price

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol,timestamp,iteration,time_convert,coin_symbol
0,1606881600,18703.87,18350.00,18621.80,3410.25,63019742.87,18559.38,direct,,2021-02-23 23:55:14.992641,0,2020-12-02 04:00:00,BTC
1,1606885200,18665.00,18481.75,18559.38,1532.91,28467746.52,18664.77,direct,,2021-02-23 23:55:14.992641,0,2020-12-02 05:00:00,BTC
2,1606888800,18946.70,18649.23,18664.77,1922.03,36120973.84,18941.28,direct,,2021-02-23 23:55:14.992641,0,2020-12-02 06:00:00,BTC
3,1606892400,19129.07,18846.72,18941.28,2212.26,41920062.44,19127.00,direct,,2021-02-23 23:55:14.992641,0,2020-12-02 07:00:00,BTC
4,1606896000,19337.16,19075.66,19127.00,2774.43,53331491.04,19196.49,direct,,2021-02-23 23:55:14.992641,0,2020-12-02 08:00:00,BTC
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,1542067200,0.00,0.00,0.00,0.00,0.00,0.00,direct,,2021-02-23 23:56:42.766721,19,2018-11-13 00:00:00,ALGO
1997,1542070800,0.00,0.00,0.00,0.00,0.00,0.00,direct,,2021-02-23 23:56:42.766721,19,2018-11-13 01:00:00,ALGO
1998,1542074400,0.00,0.00,0.00,0.00,0.00,0.00,direct,,2021-02-23 23:56:42.766721,19,2018-11-13 02:00:00,ALGO
1999,1542078000,0.00,0.00,0.00,0.00,0.00,0.00,direct,,2021-02-23 23:56:42.766721,19,2018-11-13 03:00:00,ALGO
2000,1542081600,0.00,0.00,0.00,0.00,0.00,0.00,direct,,2021-02-23 23:56:42.766721,19,2018-11-13 04:00:00,ALGO

In [87]:
btc_price = price[price['coin_symbol']=='BTC']
btc_price

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol,timestamp,iteration,time_convert,coin_symbol
0,1606881600,18703.87,18350.00,18621.80,3410.25,63019742.87,18559.38,direct,,2021-02-23 23:55:14.992641,0,2020-12-02 04:00:00,BTC
1,1606885200,18665.00,18481.75,18559.38,1532.91,28467746.52,18664.77,direct,,2021-02-23 23:55:14.992641,0,2020-12-02 05:00:00,BTC
2,1606888800,18946.70,18649.23,18664.77,1922.03,36120973.84,18941.28,direct,,2021-02-23 23:55:14.992641,0,2020-12-02 06:00:00,BTC
3,1606892400,19129.07,18846.72,18941.28,2212.26,41920062.44,19127.00,direct,,2021-02-23 23:55:14.992641,0,2020-12-02 07:00:00,BTC
4,1606896000,19337.16,19075.66,19127.00,2774.43,53331491.04,19196.49,direct,,2021-02-23 23:55:14.992641,0,2020-12-02 08:00:00,BTC
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,1606867200,18889.26,18513.87,18792.03,3819.10,71295066.83,18839.24,direct,,2021-02-23 23:56:02.549322,10,2020-12-02 00:00:00,BTC
1997,1606870800,18966.70,18726.47,18839.24,1289.09,24270519.72,18864.63,direct,,2021-02-23 23:56:02.549322,10,2020-12-02 01:00:00,BTC
1998,1606874400,18871.24,18675.55,18864.63,1234.52,23169133.41,18703.97,direct,,2021-02-23 23:56:02.549322,10,2020-12-02 02:00:00,BTC
1999,1606878000,18804.17,18533.15,18703.97,2839.03,52920817.47,18621.80,direct,,2021-02-23 23:56:02.549322,10,2020-12-02 03:00:00,BTC
2000,1606881600,18703.87,18350.00,18621.80,3410.25,63019742.87,18559.38,direct,,2021-02-23 23:56:02.549322,10,2020-12-02 04:00:00,BTC

In [88]:
btc_price = btc_price[['time_convert', 'close']]
btc_price

            time_convert     close
0    2020-12-02 04:00:00  18559.38
1    2020-12-02 05:00:00  18664.77
2    2020-12-02 06:00:00  18941.28
3    2020-12-02 07:00:00  19127.00
4    2020-12-02 08:00:00  19196.49
...                  ...       ...
1996 2020-12-02 00:00:00  18839.24
1997 2020-12-02 01:00:00  18864.63
1998 2020-12-02 02:00:00  18703.97
1999 2020-12-02 03:00:00  18621.80
2000 2020-12-02 04:00:00  18559.38

[4002 rows x 2 columns]

In [89]:
btc_price = btc_price.set_index('time_convert')

In [90]:
btc_price = btc_price[:2000]
btc_price

                        close
time_convert
2020-12-02 04:00:00  18559.38
2020-12-02 05:00:00  18664.77
2020-12-02 06:00:00  18941.28
2020-12-02 07:00:00  19127.00
2020-12-02 08:00:00  19196.49
...                       ...
2021-02-23 07:00:00  49640.13
2021-02-23 08:00:00  46618.38
2021-02-23 09:00:00  48046.76
2021-02-23 10:00:00  47484.88
2021-02-23 11:00:00  46395.18

[2000 rows x 1 columns]

In [91]:
btc_price.index[0]

Timestamp('2020-12-02 04:00:00')

In [92]:
tweet = tweet[['created_at', 'text']]
tweet

,created_at,text
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ
1,2021-02-23T08:18:12.000Z,@PPathole Super cool
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...
...,...,...
2,2020-04-10T07:42:17.000Z,@nichegamer ü§£ü§£
3,2020-04-10T07:39:10.000Z,But actually https://t.co/jlowaHobXO
4,2020-04-10T00:23:11.000Z,@arvnp @Jamie_Woodward_ The Standard Model is ...
5,2020-04-10T00:04:04.000Z,@Jamie_Woodward_ ‚Ä¶ is bs
6,2020-04-09T22:58:40.000Z,@Jamie_Woodward_ String theory

In [93]:
tweet.iloc[0, 0][:13]

'2021-02-23T08'

In [94]:
all_tweet_time_hour = []

for index, row in tweet.iterrows():
    tweet_time_hour = row['created_at'][:13]
    all_tweet_time_hour.append(tweet_time_hour)

In [95]:
all_tweet_time_hour[:5]

['2021-02-23T08',
 '2021-02-23T08',
 '2021-02-22T23',
 '2021-02-22T20',
 '2021-02-22T20']

In [96]:
tweet['time in hour'] = all_tweet_time_hour
tweet

,created_at,text,time in hour
0,2021-02-23T08:20:41.000Z,@PeterSchiff üçÜ,2021-02-23T08
1,2021-02-23T08:18:12.000Z,@PPathole Super cool,2021-02-23T08
2,2021-02-22T23:25:09.000Z,@jgrano305 @AustinTeslaClub We have too much p...,2021-02-22T23
3,2021-02-22T20:22:10.000Z,@TechAmazing @UniverCurious Tunnels!!,2021-02-22T20
4,2021-02-22T20:21:15.000Z,@JantieWillie @Adamklotz_ @AustinTeslaClub Hop...,2021-02-22T20
...,...,...,...
2,2020-04-10T07:42:17.000Z,@nichegamer ü§£ü§£,2020-04-10T07
3,2020-04-10T07:39:10.000Z,But actually https://t.co/jlowaHobXO,2020-04-10T07
4,2020-04-10T00:23:11.000Z,@arvnp @Jamie_Woodward_ The Standard Model is ...,2020-04-10T00
5,2020-04-10T00:04:04.000Z,@Jamie_Woodward_ ‚Ä¶ is bs,2020-04-10T00
6,2020-04-09T22:58:40.000Z,@Jamie_Woodward_ String theory,2020-04-09T22

In [97]:
tweet['time in hour'] = pd.to_datetime(tweet['time in hour'])

In [98]:
tweet.iloc[0, 2]

Timestamp('2021-02-23 08:00:00')

In [99]:
tweet = tweet.set_index('time in hour')

In [100]:
tweet = tweet.drop(columns='created_at')
tweet

                                                                  text
time in hour
2021-02-23 08:00:00                                     @PeterSchiff üçÜ
2021-02-23 08:00:00                               @PPathole Super cool
2021-02-22 23:00:00  @jgrano305 @AustinTeslaClub We have too much p...
2021-02-22 20:00:00              @TechAmazing @UniverCurious Tunnels!!
2021-02-22 20:00:00  @JantieWillie @Adamklotz_ @AustinTeslaClub Hop...
...                                                                ...
2020-04-10 07:00:00                                     @nichegamer ü§£ü§£
2020-04-10 07:00:00               But actually https://t.co/jlowaHobXO
2020-04-10 00:00:00  @arvnp @Jamie_Woodward_ The Standard Model is ...
2020-04-10 00:00:00                           @Jamie_Woodward_ ‚Ä¶ is bs
2020-04-09 22:00:00                     @Jamie_Woodward_ String theory

[3206 rows x 1 columns]

In [101]:
df_tweet_btc = btc_price
df_tweet_btc

                        close
time_convert
2020-12-02 04:00:00  18559.38
2020-12-02 05:00:00  18664.77
2020-12-02 06:00:00  18941.28
2020-12-02 07:00:00  19127.00
2020-12-02 08:00:00  19196.49
...                       ...
2021-02-23 07:00:00  49640.13
2021-02-23 08:00:00  46618.38
2021-02-23 09:00:00  48046.76
2021-02-23 10:00:00  47484.88
2021-02-23 11:00:00  46395.18

[2000 rows x 1 columns]

In [102]:
df_tweet_btc.index = df_tweet_btc.index.rename('time')
df_tweet_btc

                        close
time
2020-12-02 04:00:00  18559.38
2020-12-02 05:00:00  18664.77
2020-12-02 06:00:00  18941.28
2020-12-02 07:00:00  19127.00
2020-12-02 08:00:00  19196.49
...                       ...
2021-02-23 07:00:00  49640.13
2021-02-23 08:00:00  46618.38
2021-02-23 09:00:00  48046.76
2021-02-23 10:00:00  47484.88
2021-02-23 11:00:00  46395.18

[2000 rows x 1 columns]

In [103]:
import numpy as np

In [104]:
df_tweet_btc['tweet'] = np.empty((len(df_tweet_btc), 0)).tolist()
df_tweet_btc

                        close tweet
time
2020-12-02 04:00:00  18559.38    []
2020-12-02 05:00:00  18664.77    []
2020-12-02 06:00:00  18941.28    []
2020-12-02 07:00:00  19127.00    []
2020-12-02 08:00:00  19196.49    []
...                       ...   ...
2021-02-23 07:00:00  49640.13    []
2021-02-23 08:00:00  46618.38    []
2021-02-23 09:00:00  48046.76    []
2021-02-23 10:00:00  47484.88    []
2021-02-23 11:00:00  46395.18    []

[2000 rows x 2 columns]

In [105]:
tweet

                                                                  text
time in hour
2021-02-23 08:00:00                                     @PeterSchiff üçÜ
2021-02-23 08:00:00                               @PPathole Super cool
2021-02-22 23:00:00  @jgrano305 @AustinTeslaClub We have too much p...
2021-02-22 20:00:00              @TechAmazing @UniverCurious Tunnels!!
2021-02-22 20:00:00  @JantieWillie @Adamklotz_ @AustinTeslaClub Hop...
...                                                                ...
2020-04-10 07:00:00                                     @nichegamer ü§£ü§£
2020-04-10 07:00:00               But actually https://t.co/jlowaHobXO
2020-04-10 00:00:00  @arvnp @Jamie_Woodward_ The Standard Model is ...
2020-04-10 00:00:00                           @Jamie_Woodward_ ‚Ä¶ is bs
2020-04-09 22:00:00                     @Jamie_Woodward_ String theory

[3206 rows x 1 columns]

In [106]:
for index, row in tweet.iterrows():
    if index in df_tweet_btc.index:
        df_tweet_btc.loc[index, 'tweet'].append(row['text'])

df_tweet_btc

                        close                                   tweet
time
2020-12-02 04:00:00  18559.38                                      []
2020-12-02 05:00:00  18664.77                                      []
2020-12-02 06:00:00  18941.28                                      []
2020-12-02 07:00:00  19127.00                                      []
2020-12-02 08:00:00  19196.49                                      []
...                       ...                                     ...
2021-02-23 07:00:00  49640.13                                      []
2021-02-23 08:00:00  46618.38  [@PeterSchiff üçÜ, @PPathole Super cool]
2021-02-23 09:00:00  48046.76                                      []
2021-02-23 10:00:00  47484.88                                      []
2021-02-23 11:00:00  46395.18                                      []

[2000 rows x 2 columns]

In [114]:
df_tweet_btc = df_tweet_btc.rename(columns={'close':'BTC price', 'tweet':'Elon Musk tweet'})
df_tweet_btc

                     BTC price                         Elon Musk tweet
time
2020-12-02 04:00:00   18559.38                                      []
2020-12-02 05:00:00   18664.77                                      []
2020-12-02 06:00:00   18941.28                                      []
2020-12-02 07:00:00   19127.00                                      []
2020-12-02 08:00:00   19196.49                                      []
...                        ...                                     ...
2021-02-23 07:00:00   49640.13                                      []
2021-02-23 08:00:00   46618.38  [@PeterSchiff üçÜ, @PPathole Super cool]
2021-02-23 09:00:00   48046.76                                      []
2021-02-23 10:00:00   47484.88                                      []
2021-02-23 11:00:00   46395.18                                      []

[2000 rows x 2 columns]

In [115]:
df_tweet_btc.to_pickle('./resource/test_df_tweet_btc.plk')